/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 50px 92px 100px 96px;
}



.header_links_list {
  display: flex;
  gap: 32px;
}

.header_links_list_item {
  list-style: circle;
}

.header_links_list_item_no_bullit {
  list-style: none;
}

.header_link {
  font-size: 18px;
  white-space: nowrap;
}



.header_link_active {
  text-decoration: none;
}

.header_logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
}

.header_logo_image {
  max-width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header_address {
  justify-self: end;
  font-style: inherit;
  max-width: 240px;
}




.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  min-height: 100%;
}

.cover_title {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-style: bold;
  font-size: 100px;
  line-height: 1.149;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned_text {
  display: block;
}


.aligned_text_left {
  text-align: left;
}
.aligned_text_center {
  text-align: center;
}

.aligned_text_right {
  text-align: right;
}

.cover_description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  border: 1px;
  align-items: center;
  gap: 78px;
  padding: 106px 0px 50px 50px;
}

.cover_description_text {
  color: #FFF;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 10px;
}

.bet_button {
  border: 1px #FFF solid;
  padding: 12px 32px 11px 31px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  
}

.lots {
  padding: 180px 24px 0px 24px;
}

.lots_heading {
  padding: 0px 0px 30px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots_card_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  list-style: none;
}
.lots_card_list_item {
  height: 100%;
}



.card_link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: block;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  width: auto;
  height: 100%;
  padding: 48px 40px;
  
  
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card_title {
  position: relative;
  font-weight: 700;
  color: #FFF;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
  
}

.card_text {
  position: relative;
  font-weight: 400;
  color: #FFF;
  font-size: 20px;
  line-height: 1.2;
  
}

.lots_look_more_link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  
  
}




.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 120px 50px 0px 50px;
  
  
}

.about_column {
  justify-self: center;
  
 
}

.about_column_image {
  grid-column: 2/4;
  
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
  
}

.about_logo_image {
  width: 148px;
  height: 114px;
  
  
}

.about_title {
  padding: 100px 0px 100px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about_text_p {
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px 50px;
}

.footer_social_icon {
  width: auto;
  height: 48px;
}

.footer_menu_list {
  text-align: center;
  list-style: none;
}

.footer_menu_link {
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  
  
}

.footer_menu_link_active {
  text-decoration: none;
}

.footer_social_list {
  display: flex;
  gap: 48px;
  list-style: none;
}




